@charset "shift-jis";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body,textarea,input,#output-code {
line-height:1.5;
font-family: 'Noto Sans JP', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs
*/
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

main{
  margin: 20px;
  font-size: 14px;
}
h1{
  margin: 0 0 20px;
}
.txt{
  margin: 20px 0 0;
  font-size: 12px;
}
.output{
  width: 100%;
  margin: 20px 0 0;
  padding: 20px 0;
  /*line-height: 1.5;*/
  border-top: #343453 1px solid;
  color: #343453;
  font-size: 13px;
}

.choice{
  display: inline-block;
  margin: 1px;
  padding: 0 2px;
  background: #FFE3EE;
  border: 1px solid #A71A1A;
  font-weight: bold;
  color: #4E1421;
}
